<h1>Welcome Index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>O idioma padrão é: <%= I18n.locale %> - <%= t('hello') %> - <%= t('language') %></p>

<p>Data padrão <%= l(Date.today) %></p>